<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--beans are the object which are managed by the spring framework-->
    <!-- bean definitions here -->

    <bean id="alien1" class="online.devplanet.Alien" autowire="byType">
    </bean>

    <!--if there is any confusion it will create an object of laptop-->
    <bean id="comp" class="online.devplanet.Laptop" primary="true">
    </bean>

    <bean id="comp2" class="online.devplanet.Desktop">
    </bean>

</beans>

