<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--beans are the object which are managed by the spring framework-->
    <!-- bean definitions here -->

    <bean id="alien1" class="online.devplanet.Alien">
    <!--Constructor Injection: Use the <constructor-arg> tag in spring.xml to inject
         values via the constructor.
     -->

        <constructor-arg index="0" value="23"/>
        <constructor-arg index="1" ref="lap1"/>
    </bean>

    <bean id="lap1" class="online.devplanet.Laptop">
    </bean>

</beans>

